.App {
  text-align: center;
  /* background-color: #083962; */
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  margin: 20px 0px;
  height: 100px;
}

.App-header {
  background-color: #F6EED5;
  height: 150px;
  padding: 20px;
  color: #6A8394;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.cards-wrapper, .singlepoke {
  margin: 30px 30px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 50px;
}

.card {
  height: 25vm;
  width: 25vm;
  overflow: hidden;
  /* box-shadow: 5px 10px 10px #2062AC; */
}

.card:hover {  
  transform: scale(1.05);
  cursor: pointer;
}

/* .pokes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 5px;
} */

img.pokecard {
  object-fit: cover;
  min-height: 100%;
  position: center;
  /* border: 0.5rem solid #2062AC;
  border-radius: 20px; */
}

img.singlecard, img.onload {
  width: 25%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
