.App {
}

.container {
  margin: 30px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.table {
margin: 20px 0;
}
.table-header {
display: flex;
line-height: 24px;
font-size: 16px;
padding: 0 10px; justify-content: space-between;
}
.table-empty { margin: 200px; text-align: center; font-size: 16px;
}

.table-row {
display: flex; line-height: 24px; white-space: nowrap; margin: 10px 0;
padding: 10px; background: #ffffff; border: 1px solid #e3e3e3;
}
.table-header > span { overflow: hidden; text-overflow: ellipsis; padding: 0 5px;
}
.table-row > span { overflow: hidden; text-overflow: ellipsis; padding: 0 5px;
}
